.data/
embeddings2/
logs/
unipos/
__pycache__/
.vscode/
trained_model_en_cnn/
.vector_cache/
train_dropout1/
GoogleNews-vectors-negative300.bin.gz.txt

mean.py
dataset.py
ascii_embed.py
github
github.pub
join_run.py
main_old.py
save_char_embedding.py

*.pkl
*.pt
*.pth
.vector_cache/GoogleNews-vectors-negative300.bin.gz.txt
test_function.py
tagset/ud-treebanks-v2.3/UD_English-GUM/en_gum-ud-train.txt
tagset/ud-treebanks-v2.3/UD_English-GUM/en_gum-ud-dev.conllu
tagset/ud-treebanks-v2.3/UD_English-GUM/en_gum-ud-dev.txt
tagset/ud-treebanks-v2.3/UD_English-GUM/en_gum-ud-test.conllu
tagset/ud-treebanks-v2.3/UD_English-GUM/en_gum-ud-test.txt
tagset/ud-treebanks-v2.3/UD_English-GUM/en_gum-ud-train.conllu
tagset/ud-treebanks-v2.3/UD_English-GUM/stats.xml
trained_model_en_cnn2_mse/trained_embedding_cnn2.txt
trained_model_en_cnn_word2vec/trained_embedding_cnn.txt
trained_model_en_lstm_mse/trained_embedding_lstm.txt
trained_model_en_lstm_mse/run1/events.out.tfevents.1557132095.effa68cb3f2d
trained_model_en_lstm_mse/run4/events.out.tfevents.1557185995.284e32c01240
trained_model_en_lstm_mse/run5/events.out.tfevents.1557213324.9324cba2da3c
trained_model_en_lstm_mse/run6/events.out.tfevents.1557216309.9324cba2da3c
trained_model_en_lstm_mse/val-run1/events.out.tfevents.1557132098.effa68cb3f2d
trained_model_en_lstm_mse/val-run4/events.out.tfevents.1557185998.284e32c01240
trained_model_en_lstm_mse/val-run5/events.out.tfevents.1557213327.9324cba2da3c
trained_model_en_lstm_mse/val-run6/events.out.tfevents.1557216311.9324cba2da3c
trained_model_en_lstm_mse_old/trained_embedding_lstm.txt
trained_polyglot/trained_model_en_cnn2_mse/trained_embedding_cnn2.txt
trained_polyglot/trained_model_en_cnn_mse/trained_embedding_cnn.txt
trained_polyglot/trained_model_en_lstm_mse/trained_embedding_lstm.txt
trained_embedding_cnn
trained_charembed.txt
universal_tags.py.txt
.vector_cache/GoogleNews-vectors-negative300.bin.gz.txt
tagset/ud-treebanks-v2.3/UD_English-GUM/LICENSE.txt
tagset/ud-treebanks-v2.3/UD_English-GUM/README.md
.vector_cache/GoogleNews-vectors-negative300.bin.gz.txt
